.icon-footl{
	background:url('images/down_1.PNG');
}
.icon-footc{
	background:url('images/down_2.PNG');
}


.icon-topl{
	background:url('images/banner_left.png');
}
.icon-topc{
	background:url('images/banner_center.png');
}
.icon-topru{
	background:url('images/banner_right3.png');
}
.icon-toprd{
	background:url('images/banner_right2.png');
}