body {font-family: "ו";font-size: 12px;}
div,ul,li,dl,dt,dd,img,h1,h2{margin:0px;padding:0px;list-style-type: none;border:0;}
.login {width: 1122px;margin: auto auto 0 auto;}
.login_left {float:left;height: 344px;width:539px;background: url(images/login_left.jpg) no-repeat;margin-top:130px;}
.login_right {float:right;width:583px;}
.login_top {float:left;height: 181px;width:583px;background: url(images/login_top.jpg) no-repeat;}
.login_cen {float:left;height: 202px;width:583px;background: url(images/login_cen.jpg) no-repeat;}
.login_input {width: 330px;margin-left:45px;padding-top:10px;}
.login_input dl {width: 330px;margin-top: 15px;display: inline;float: left;}
.login_input dd {float: left;width: 80px;color: #ffffff;font-size: 14px;font-weight:bold;text-align: right;padding: 5px 5px 0 0;}
.login_input dt {width: 222px;float: left;}
.cancel_btn{background: url(images/cancel_btn.jpg) no-repeat;height: 31px;width: 84px;display: inline;float: left;margin: 10px 0 0 23px;}
.cancel_btn a {background: url(images/cancel_btn.jpg) no-repeat;height: 31px;width: 84px;display: block;}
.cancel_btn a:hover {background: url(images/cancel_btn_a.jpg) no-repeat;height: 31px;width: 84px;display: block;}

.login_btn{background: url(images/login_btn.jpg) no-repeat;height: 31px;width: 84px;display: inline;float: left;margin: 10px 0 0 128px;}
.login_btn a {background: url(images/login_btn.jpg) no-repeat;height: 31px;width: 84px;display: block;}
.login_btn a:hover {background: url(images/login_btn_a.jpg) no-repeat;height:31px;width: 84px;display: block;}
.login_bot {float:left;height: 168px;width:583px;background: url(images/login_bot.jpg) no-repeat;}
.login_botft {height: 30px;line-height: 30px;padding-right: 35px;text-align: right;color: #989898;}
.input {background: url(images/login_input.jpg) no-repeat;border: none;width: 213px;float: left;height: 27px;line-height: 25px;color: #2d4d74;padding-left:3px;vertical-align: middle;}
