<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr ="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"
	default-lazy-init="true">
	<import resource="datasource.xml" />
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="openSessionInViewInterceptor"
			class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
			<property name="flushMode" value="1"/>
			<property name="singleSession" value="true" />
	</bean>


	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED</prop>			
			</props>
		</property>
	</bean>

	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>fundService</value>
				<value>zxtDatasourceDataSourceService</value>				
				<value>zxtDatatableDataTableService</value>				
				<value>zxtDatacolumnDataColumnService</value>				
				<value>zxtValidationruleValidationRuleService</value>				
				<value>zxtDictionaryDataDictionaryService</value>				
				<value>zxtCodegenerateCodeGenerateService</value>
				<value>zxtCodegenerateFormEngineService</value>
				<value>zxtDatatableDataObjectGroupService</value>
				<value>zxtFormFormService</value>
				<value>zxtindexPageModeService</value>
				<value>zxtpageGenerateService</value>
				<!-- zhuzhi -->
				<value>zxtAuthorityServiceImpl</value>
				<value>zxtRelationShipServiceImpl</value>
				<value>zxtRoleServiceImpl</value>
				<!-- 数据字典缓存 -->
				<value>dictionaryCacheServiceImpl</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>	
	<bean id="daoSupport" class="com.zxt.framework.common.dao.DAOSupport">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 消息设置 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>
	
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="zxt_fmplat_datasource" />
	</bean>
	
	<bean id="zxt_AppContext" 
	    class="com.zxt.framework.common.util.SpringContextUtil" scope="singleton" lazy-init="false" />
</beans>